<div class="card shadow h-100">

	<img class="card-img-top" src="/uploads/{{ item.image }}" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">{{ item.name }}</h5>
		<p class="card-postcode">{{item.address}}</p>
		<p class="card-text">{{item.description}}</p>
		<div class="count">
			<a data-item="{{item.id}}" data-val="-1" href=" #">
				<img class="unicorn" {% if item.good_or_bad == -1 %} src="/assets/images/unicorn.png" {% else %} src="/assets/images/unicornBW.png" {% endif %}>
			</a>
			<p data-item="{{item.id}}" class="counter">{{item.favSum}}</p>
			<a data-item="{{item.id}}" data-val="1" href="#">
				<img class="poop" {% if item.good_or_bad == 1 %} src="/assets/images/pooFull.png" {% else %} src="/assets/images/pooEmpty.png" {% endif %}>
			</a>
		</div>
	</div>
</div>
